/* General
----------------*/
  body
  {
    background: rgba(105, 105, 105);
    font-family: sans-serif;
  }

  header
  {
    background-color: black;
  }

  a 
  {
    text-decoration: none;
  }


/* Header
----------------*/

  #mainheader #logo h1
  {
    font-size: 80px;
    margin: 0;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
  }

  #mainheader #logo h1 a
  {
    color: red;
  }

  #logo h1 span
  {
    color: white;
  }

/* Navigation
----------------*/

  .navbar ul 
  {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar>ul>li 
  {
    white-space: nowrap;
    padding: 10px 0 10px 12px;
    
  }

  .navbar a,
  .navbar a:focus 
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(105, 105, 105);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    white-space: nowrap;
    position: relative;
    padding: 6px 4px;
  }
  
  .navbar>ul>li>a:before 
  {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px;
    background-color: #f82249;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before 
  {
    visibility: visible;
    width: 100%;
  }
  
  .navbar li:hover>a 
  {
    color: #fff;
  }

/* General Background Logo
----------------*/

  #backgroundMain
  {
    width: 100%;
    height: 100vh;
    background: url(assets/AgentPanda.png) top center;
    background-size: cover;
    overflow: hidden;
  }


/* FAQ
----------------*/

  #faq .faq-list 
  {
    list-style: none;
    position: static;
  }
  
  #faq .faq-list li 
  {
    margin-bottom: 0px;
    padding-bottom: 15px;
  }
  
  #faq .faq-list .question 
  {
    display: block;
    position: static;
    background-color: black;
    font-size: 35px;
    line-height: 40px;
    font-weight: 300;
    padding-left: 25px;
    cursor: pointer;
    color: #e0072f;
    transition: 0.3s;
  }
  
  #faq .faq-list p 
  {
    padding: 10px 0 0 25px;
    position: static;
    background-color: black;
    color: white;
    font-size: 30px;
  }
  
  #faq .faq-list .collapsed 
  {
    color: black;
    position: static;
  }
  
  #faq .faq-list .collapsed:hover 
  {
    color: red;
  }

/* Gallery
----------------*/

  .Gallery 
  {
    margin-left: 5px;
    width: 200px;
  }

  .Gallery img 
  {
    width: 200%;
    height: auto;
    margin-top: 50px;
  }

/* Famus Jobs
----------------*/

  .jobs img 
  {
    width: 200%;
  }

  .jobs .details h3 a
  {
    color: red;
  }
  